/* flip card effect */
.flip {
  @apply relative select-none;

  > .front,
  > .back {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.8s;
    transition-property: transform, opacity;
  }
  > .front {
    transform: rotateY(0deg);
  }
  > .back {
    @apply absolute top-0 left-0 h-full w-full opacity-0;
    transform: rotateY(-180deg);
  }
  &:hover {
    > .front {
      transform: rotateY(180deg);
    }
    > .back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
}

/* Protect back side links to be unintentionaly clicked */
.back {
  pointer-events: none;
}

.flipped > .back {
  /* small hack to prevent unintentional  click on mobile screens */
  pointer-events: initial;
}

/* extra styles */
.front,
.back {
  @apply flex flex-col items-center gap-3 rounded-xl p-5 shadow-md shadow-zinc-950;
  width: 350px;
  max-width: 100%;
}

.flip:not(.flipped) {
  height: fit-content;
}

.front {
  justify-content: space-between;
  height: 250px;
}

.back {
  @apply bg-slate-800;
}

.platform-logo {
  @apply w-10 rounded-lg shadow shadow-zinc-900;
}

a > .platform-logo {
  @apply transition-transform hover:scale-110;
}
